<html>
  <h1>PAGE POTIN</h1>
  <p> Voici la page du potin n°#<%= params['id'] %> </p>
  <p><strong>Son auteur :</strong> <%= @gossip.author %></p>
  <p><strong>Le contenue du potin :</strong> <%= @gossip.content %></p>
<a href="/">Retour à l'accueil</a>
</html>